.spacer
  .buttons
    if sound
      i#sound.icon-volume-up.icon-3x
    else
      i#sound.icon-volume-off.icon-3x
.chat
  span.text
  span.cursor !{cursor}
  #space Press Space to Continue
  #audio
    
#viera.avatar
  .ears
  .face
    .eyes
    .mouth