#titlePage
  .spacer
  .title 
    |Final Fantasy X|V 
    br
    |Eorzea's Guide
  .stories
    .blank
      i.icon-lock.icon.icon-3x
    .blank
      i.icon-lock.icon.icon-3x
    .blank
      i.icon-lock.icon.icon-3x
    #bahamutStory
      div
  .spacer